.DS_Store
.build/
.swiftpm/build/
.swiftpm/repositories/
.swiftpm/xcode/package.xcworkspace/
*.moved-aside
*.xcscmblueprint
*.xcuserstate
*.xcworkspace/
!default.xcworkspace
DerivedData/
Packages/
Package.pins
Package.resolved
build/
playground.xcworkspace
timeline.xctimeline
xcuserdata/
